<div class="container-fluid">
    <div class="row">
        <app-navbar></app-navbar>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="label-form">Book Name</label>
            <input name="name" type="text" class="form-control" [(ngModel)]="name"></div>


            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12">
                <label for="" class="label-form">Publish Date</label>
                <input  name="pdate" type="date" class="form-control" [(ngModel)]="pdate"></div>

            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12">
            <label for="" class="label-form">Author</label>
            <input  name="author" type="text" class="form-control" [(ngModel)]="author"></div>

            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12">
                <label for="" class="label-form">Price</label>
                <input  name="price" type="text" class="form-control" [(ngModel)]="price"></div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12">
                    <br>
                    <button class="btn btn-primary" (click)="read()">Submit</button>
                </div>

    </div></div>