<div class="container-fluid">
    <div class="row">
        <app-navbar></app-navbar>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="label-form">Book Name</label>
            <input name="name" type="text" class="form-control" [(ngModel)]="name"></div>

            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12">
                <br>
                <button class="btn btn-primary" (click)="read()">search</button>
            </div>
<br><br>
        
         <div *ngFor="let i of Data">

            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="label-form">Book Id</label>
                <input value="{{i.id}}" type="text" class="form-control" [(ngModel)]="i.id"></div>

            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="label-form">Book Name</label>
                <input value="{{i.name}}" type="text" class="form-control" [(ngModel)]="i.name"></div>
    
    
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12">
                    <label for="" class="label-form">Publish Date</label>
                    <input  value="{{i.pdate}}" type="date" class="form-control" [(ngModel)]="i.pdate"></div>
    
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12">
                <label for="" class="label-form">Author</label>
                <input  value="{{i.author}}" type="text" class="form-control" [(ngModel)]="i.author"></div>
    
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12">
                    <label for="" class="label-form">Price</label>
                    <input  value="{{i.price}}" type="text" class="form-control" [(ngModel)]="i.price"></div>
    
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12">
                        <br>
                        <button class="btn btn-success" (click)="edit()">Update</button>
                    </div>





         </div>
    
            
            </div>



</div>